@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* -------- estilos generales ---------- */

:root{
    --color-principal: rgb(69, 12, 126);
    --color-secondario: blue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 1.3em;
}

h1, h2, h3{
    color: var(--color-principal);
    font-family: 'Dosis', sans-serif;
}

/* -------- estilos generales ---------- */

/* -------- header ---------- */

header{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

header ul{
    margin-top: -5px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    color: #000;
    text-decoration: none;
    margin: 10px;
    transition: .3s;
}

header ul li a:hover{
    color: blueviolet;
}

header img{
    width: 200px;
}

/* -------- header ---------- */

/* -------- hero ---------- */

#hero{
    padding: 20px;
}

#hero h2{
    padding: 0px 0px;
}

#hero p{
    padding: 20px 0px;
}

#hero button{
    padding: 10px;
    background: var(--color-principal);
    color: #fff;
    cursor: pointer;
}


/* -------- hero ---------- */

/* -------- sobre nosotros ---------- */

#about{
    padding: 20px;
}

#about h2{
    padding: 20px 0px;
}

/* -------- sobre nosotros ---------- */

/* -------- mision ---------- */

#mision{
    padding: 20px;
}

/* -------- mision ---------- */

/* -------- proceso ---------- */

#proceso{
    padding: 20px;
}

#proceso h2{
    padding: 20px 0px;
}

#proceso p{
    padding: 20px 0px;
}

#proceso ul{
    display: flex;
}

#proceso ul li{
    list-style-type: none;
    width: 25%;
}

/* -------- proceso ---------- */

/* -------- porque elegirnos ---------- */

#porqueelegirnos{
    padding: 20px;
}

#porqueelegirnos h2{
    padding: 20px 0px;
}

#porqueelegirnos ul{
    display: flex;
}

#porqueelegirnos ul li{
    list-style-type: none;
    width: 25%;
}


/* -------- porque elegirnos ---------- */

/* -------- servicios ---------- */

#servicios{
    padding: 20px;
}

/* -------- servicios ---------- */

/* -------- portafolio ---------- */

#portafolio{
    padding: 20px;
}

/* -------- portafolio ---------- */

/* -------- precios ---------- */

#precios{
    padding: 20px;
}

#precios h2{
    text-align: center;
}

#precios ul{
    width: 33.33%;
    padding: 20px;
}

#precios ul li{
    list-style-type: none;
    padding: 5px 0px;
}

.contenedor__precios{
    display: flex;
}

.precio{
    color: rgb(187, 17, 46);
    padding: 20px 0px;
}

/* -------- precios ---------- */

/* -------- counter ---------- */

#counter{
    padding: 20px;
}

/* -------- counter ---------- */

/* -------- contacto ---------- */

#contacto{
    padding: 20px;
}

#contacto p{
    padding: 10px 0px;
}

/* -------- contacto ---------- */

/* -------- footer ---------- */

footer{
    padding: 20px;
}

footer p{
    text-align: center;
}

/* -------- footer ---------- */