@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* -------- estilos generales ---------- */

:root{
    --color-principal: #004AAD;
    --color-secundario: rgb(187, 17, 46);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    font-size: 1.3em;
}

h1, h2, h3, h4{
    color: var(--color-principal);
    font-family: 'Dosis', sans-serif;
}

a{
    color: var(--color-principal);
}

/* -------- estilos generales ---------- */

/* -------- header ---------- */

header{
    display: flex;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;
    transition: .3s;
    padding: 10px;
}

header ul{
    margin-top: -5px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    color: #000;
    text-decoration: none;
    margin: 10px;
    transition: .3s;
}

header ul li a:hover{
    color: var(--color-principal);
}

header img{
    width: 200px;
    margin: auto;
    display: block;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .header {
    color: #f1f1f1;
    position: fixed;
    width: 100%;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
  }
  
  

/* -------- header ---------- */

/* -------- hero ---------- */

#hero{
    padding: 152px 50px 50px 50px;
    display: flex;
}

#hero h2{
    font-size: 2em;
}

#hero p{
    padding: 20px 0px;
}

#hero a{
    padding: 10px;
    display: block;
    width: 120px;
    text-align: center;
    background: var(--color-principal);
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s;
    border: 1px solid var(--color-principal);
}

#hero a:hover{
    color: var(--color-principal);
    background: #fff;
}

.sone{
    width: 50%;
}

.sone p{
    line-height: 30px;
}

.stwo{
    width: 50%;
}

.stwo img{
    width: 100%;
}


/* -------- hero ---------- */

/* -------- sobre nosotros ---------- */

#about{
    padding: 50px;
    display: flex;
}

#about h2{
    padding: 20px 0px;
}

#about p{
    line-height: 30px;
}

.aboutOne{
    width: 50%;
}

.aboutTwo{
    width: 50%;
}

.aboutOne img{
    width: 100%;
}

/* -------- sobre nosotros ---------- */

/* -------- mision ---------- */

#mision{
    padding: 50px;
}

#mision h2{
    padding: 20px 0px;
    text-align: center;
}

/* -------- mision ---------- */

/* -------- proceso ---------- */

#proceso{
    padding: 50px;
}

#proceso h2{
    padding: 20px 0px;
    text-align: center;
}

#proceso h3{
    text-align: center;
}

#proceso p{
    padding: 20px 0px;
    text-align: center;
}

#proceso ul{
    display: flex;
}

#proceso ul li{
    list-style-type: none;
    width: 25%;
    padding: 10px;
}

#proceso ul li p{
    text-align: left;
    line-height: 30px;
}



/* -------- proceso ---------- */

/* -------- porque elegirnos ---------- */

#porqueelegirnos{
    padding: 50px;
}

#porqueelegirnos p{
    line-height: 30px;
}

#porqueelegirnos img{
    width: 100px;
    margin: auto;
    display: block;
}

#porqueelegirnos h2{
    padding: 50px 0px;
    text-align: center;
}

#porqueelegirnos h3{
    padding: 10px 0px;
    text-align: center;
}

#porqueelegirnos ul{
    display: flex;
}

#porqueelegirnos ul li{
    list-style-type: none;
    width: 25%;
    padding: 10px;
}


/* -------- porque elegirnos ---------- */

/* -------- servicios ---------- */

#servicios{
    padding: 50px;
}

#servicios h2{
    text-align: center;
    padding: 50px;
}

#servicios h3{
    text-align: center;
}

#servicios img{
    width: 100px;
    display: block;
    margin: auto;
}

#servicios ul{
    display: flex;
    
}

#servicios ul li{
    list-style-type: none;
    width: 33.33%;
    padding: 10px;
}

/* -------- servicios ---------- */

/* -------- portafolio ---------- */

#portafolio{
    padding: 50px;
}

#portafolio h2{
    text-align: center;
    padding: 50px;
}

.filterDiv {
    float: left;
    background: var(--color-principal);
    color: #ffffff;
    width: 33%;
    height: 200px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}
  
.show {
    display: block;
}
  
.container {
    margin-top: 20px;
    overflow: hidden;
}
  
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: .3s;
}
  
.btn:hover {
    background-color: #ddd;
}
  
.btn.active {
    background-color: var(--color-principal);
    color: white;
}

/* -------- portafolio ---------- */

/* -------- precios ---------- */

#precios{
    padding: 50px;
}

#precios h2{
    text-align: center;
    padding: 50px;
}

#precios h3{
    text-align: center;
}

#precios i{
    color: var(--color-secundario);
}

#precios ul{
    width: 33.33%;
    padding: 20px;
    text-align: center;
}

#precios ul li{
    list-style-type: none;
    padding: 5px 0px;
}

.contenedor__precios{
    display: flex;
}

.precio{
    color: rgb(187, 17, 46);
    padding: 20px 0px;
    text-align: center;
    font-size: 1.5em;
}

/* -------- precios ---------- */

/* -------- counter ---------- */

#counter{
    background: url('./images/counters-bg.jpg') !important;
    padding: 50px;
    color: #fff;
    background: var(--color-principal);
}

#counter h3{
    color: #fff;
}

.numbers {
	display: flex;
	text-align: center;
}

.numbers > div{
    width: 33.33%;
}

.counterContainer {
	padding: 10px;
}

.counter {
	font-size: 100px;
}

/* -------- counter ---------- */

/* -------- Testimonials ---------- */

#testimonios{
    padding: 50px;
}

.testCard{
    display: flex;
}

b{
    color: var(--color-secundario);
    padding: 10px 0px;
    display: block;
    text-transform: uppercase;
}

b::before{
    content: '- ';
    
}

.testCard h3{
    margin: 10px 0px
}

.testCard p{
    font-size: 1.3em;
    line-height: 30px;
}

.testCard img{
    width: 100%;
    border-radius: 25px;
}

.testOne{
    width: 50%;
    padding: 20px;
}

.testTwo{
    width: 50%;
    padding: 20px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--color-principal);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* -------- Testimonials ---------- */

/* -------- contacto ---------- */

#contacto{
    padding: 50px;
    display: flex;
}

#contacto h2{
    padding: 20px 0px;
}

#contacto p{
    padding: 10px 0px;
}

#contacto i{
    color: var(--color-principal);
}

.redes__sociales{
    padding: 20px 0px;
}

.redes__sociales a{
    color: var(--color-principal);
    font-size: 2em;
    margin: 0px 20px 0px 0px;
    transition: .3s;
}

.redes__sociales a:hover{
    opacity: .5;
}

.contOne{
    width: 50%;
}

.contTwo{
    width: 50%;
}

.contTwo img{
    width: 100%;
}

/* -------- contacto ---------- */

/* -------- footer ---------- */

footer{
    padding: 20px;
}

footer p{
    text-align: center;
}

/* -------- footer ---------- */
